body {
  background-color: #20d09b;
  border: 5px;
}

h1 {
  font-size: 48px;
  color: rgb(128, 20, 179);
  border-style: inset;
}

p{
  font-family: Helvetica;
  color: rgb(192, 0, 160); 
  border-style: outset;
}
